.tens li:nth-of-type(2) {
    -webkit-animation: tencount 60s ease-in-out 1s 1;
    -moz-animation:	   tencount 60s ease-in-out 1s 1;
    -o-animation: 	   tencount 60s ease-in-out 1s 1;
    -ms-animation:	   tencount 60s ease-in-out 1s 1;
}
.tens li:nth-of-type(3) {
    -webkit-animation: tencount 60s ease-in-out 11s 1;
    -moz-animation:	   tencount 60s ease-in-out 11s 1;
    -o-animation: 	   tencount 60s ease-in-out 11s 1;
    -ms-animation:	   tencount 60s ease-in-out 11s 1;
}
@keyframes tencount {
    0% { opacity: 1 }
    16.6% { opacity: 1 }
    16.7% { opacity: 0 }
    100% { opacity: 0 }
}
.tens li:nth-of-type(1) {
    -webkit-animation: digitcount 10s ease-in-out 0s 1;
    -moz-animation:	   digitcount 10s ease-in-out 0s 1;
    -o-animation: 	   digitcount 10s ease-in-out 0s 1;
    -ms-animation:	   digitcount 10s ease-in-out 0s 1;
}
.digits li:nth-of-type(1) {
    -webkit-animation: digitcount 10s ease-in-out 0s 6;
    -moz-animation:	   digitcount 10s ease-in-out 0s 6;
    -o-animation: 	   digitcount 10s ease-in-out 0s 6;
    -ms-animation:	   digitcount 10s ease-in-out 0s 6;
}
.digits li:nth-of-type(2) {
    -webkit-animation: digitcount 10s ease-in-out 1s 6;
    -moz-animation:	   digitcount 10s ease-in-out 1s 6;
    -o-animation: 	   digitcount 10s ease-in-out 1s 6;
    -ms-animation:	   digitcount 10s ease-in-out 1s 6;
}
@keyframes digitcount {
    0% { opacity: 1 }
    9.9% { opacity: 1 }
    10% { opacity: 0 }
    100% { opacity: 0 }
}
.done li {
    -webkit-animation: zero 1s ease-in-out 60s infinite;
    -moz-animation:	   zero 1s ease-in-out 60s infinite;
    -o-animation:	   zero 1s ease-in-out 60s infinite;
    -ms-animation:	   zero 1s ease-in-out 60s infinite;
}

@keyframes zero {
    0% { opacity: 1 }
    90% { opacity: 1 }
    100% { opacity: 0 }
}