.wrap {
  padding: 40px;
  text-align: center;
}
hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaaaaa;
}
h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
p {
  margin-bottom: 20px;
}

#logoutButton {
  background-color: #6E6E6E;
}

.btn {
  background-color: #FF9A62; /*peach button*/
  max-height: 40px;
  min-width: 80px;
  /*margin: 60px auto 20px auto;*/
  border: none;
  text-align: center;
  color: #FFFFFF; /* white text */
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  /* top: 40em;*/
}
.btn:hover {
  background-color: #ffb78a;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 150px;
}
.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 0%;
}

.modal-dialog {
  border: none;
  background: #fefefe;
  border-radius: 5px;
  z-index: 11;
  transform: translate(0, -500%);
  transition: transform 0.75s ease-in;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.modal-body {
  padding: 20px;
}

.modal-header,
.modal-footer {
  padding: 10px 20px;
}

.modal-title {
  margin-top: 8px;
}
.modal-header {
    border-top: #FF9A62 solid 10px;
    box-shadow: 0px 3px 10px #999999;
    height: 50px;
    text-align: left;
    color: #808080;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 40px;
    position: relative;
}
.modal-header h2 {
    font-size: 20px;
}

.modal-header a {
  float: right;
  margin-top: 6px;
  margin-right: 15px;
}

.modal-header div {
  display: inline-block;
}

.modal-footer {
  text-align: right;
}

.modal-footer div {
  display: inline-block;
}

.modal-recipe-container {
    text-align: left;
    width: 100%;
    height: auto;
}

.modal-ingredients {
    float: left;
    width: 300px;
    padding: 0px;
    border-width: 1px;
    border-color: #E6E6E6;
    margin: 0px 10px;
    height: auto;
}

.modal-ingredients ul {
    list-style-type: none;
    padding: 10px;   
}

.modal-ingredients li {
  margin-bottom: 18px;
}

.modal-ingredients img {
    height: auto;
    width: 300px;
}

#single-recipe-directions li {
  margin-bottom: 18px;
}

.modal-directions {
    float: left;
    width: 55%;
    padding: 0px;
    margin: 0px 20px 20px 20px;
}

.modal-directions h2 {
  margin-top: 0px;
}
.modal-directions ol {
    padding-left: 21px;
}

#modal-scroller {
  overflow: auto;
  height: 87%;
}

/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}
