
#select-recipe-body {
    background-color: #e6e6e6;
    padding: 0px;
    height: 450px;
    width: 100%;
}

.side-bar {
    display: inline-block;
    float: left;
    width: 250px;
    height: 100%;
    overflow: scroll;
}

.side-bar-list {
    list-style-type: none;
    padding: 0px 10px 0px 0px;
    color:white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin: 0px;
}

.side-bar-list li {
    background:#313131;
    margin: 1px;
    padding: 20px;
    padding-right: 30px;
    text-align:right;
}
.side-bar-list :hover {
    background: #4e4e4e;
}
.side-bar-list a {

    color:inherit;
}

.lab-selected {
    background:#e6e6e6 !important;
    color: white;
}
.lab-selected{
    background:#4e4e4e !important;
}
.picture:nth-child(odd) {
    margin-left: 10px;
    margin-top: 15px;
}

.picture:nth-child(even) {
    margin-left: 20px;
    margin-top: 15px;
}

.picture-layout {
    width: 850px;
    margin: 0px;
    display: inline-block;
    float: left;
}

.picture-layout img {
    height: 100%;
    width: 100%;
}

.picture {
    display: inline-block;
    float: left;
    position:relative;
    width:400px;
    height:200px;
}

.picture h2 {
    font-size:32px;
    position:absolute;
    bottom:-20px;
    color: white;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.4);
    width: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
}
