body{
	overflow: hidden;
}

.hidden {
    display: none;
}

#timerConfigBody{
}

#timerConfig {
    background-color: white;
    top: 100px;
    width: 300px;
    left: 100%;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 8px gray;
}

.timerConfigAnimateIn {
    transition: 1s ease;
    transform: translateX(-301px);
}
.timerConfigAnimateOut {
    transition: 1s ease;
}

#timerConfigButton {
    display: inline;
    background-color:white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: -75px;
    border: 1px black;
    position: absolute;
    width: 75px;
    transition: 1s ease;
    box-shadow: -6px 0 8px gray;
    height: 75px;
    transform: translateY(17px);
}
#stopwatch_brown{
    cursor: default;
    color:#784a32;
    font-size: 18px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#timerConfigHeader {
    color: #784a32;
}

.timer {
    background-color: #e6e6e6;
    border-radius: 0px;
    margin-bottom: 10px;
    height: 75px;
}
#addtimerbutton {
    background-color: #e6e6e6;
    border-radius: 0px;
    height: 75px;
    margin-top: 10px;
}

#timers[data-state="settings"]{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}
.timer[data-state="settings"]:last-of-type{
     overflow-y: auto;
     overflow-x: hidden;
     max-height: 300px;
     margin-bottom: 0;
 }

#bottom_fade {
    z-index: 99;
    position: fixed;
    height: 500px;
    bottom: 0%;
    background-image: url("../img/bottom-fade.png");
}

.timercontents{
    color:#784a32;
    font-size: 30px;
    position: relative;
    top: 25%;
    left: 25%;
}

.timer[data-state="settings-selected"] {
    background-color: #ff9a62;
    border-radius: 0px;
    margin-bottom: 10px;
    height: 75px;
}

.timer[data-state="closed"] {
    background-color:white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    top: 93px;
    left: -76px;
    border: 1px black;
    position: relative;
    width: 75px;
    transition: 0s ease;
    transform: none;
}

.timer[data-state="open"] {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    top: 93px;
    left: -76px;
    position: relative;
    width: 200px;
    border: 1px black;
    background-color: #ff9a62;
    transition: 1s ease;
    transform: translateX(-125px);
}
#closeConfigButton{
    background:#ff9a62;
    border: none;
    color: #784a32;
    width: 20%;
    font-size: 22px;
    font-weight: bolder;
    padding: 8px 0 8px 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top:25px;
    margin-left:40%;
    margin-right:40%;
    margin-bottom:25px;
}
/* TODO: We don't want all the buttons to look like this so lets make the selector more specific */
button {
	background:#ff9a62;
	border: none;
	color: #784a32;
	width: 100%;
	font-size: 22px;
	font-weight: bolder;
	padding: 8px 0 8px 0;
	border-radius: 3px;
	cursor: pointer;
	margin-top:25px;
}