body{
	overflow: hidden;
}

.hidden {
    display: none;
}

#timerConfig {
    background-color: white;
    top: 100px;
    width: 300px;
    left: 100%;
    position: absolute;
    border-radius: 3px;
    padding: 20px 40px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 8px gray;
}

.timerConfigAnimateIn {
    transition: 1s ease;
    transform: translateX(-382px);
}
.timerConfigAnimateOut {
    transition: 1s ease;
}

#timerConfigButton {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: -52px;
    box-shadow: 0 0 8px gray;
}

#timerConfigHeader {
    color: #784a32;
}

.timer {
    background-color: #e6e6e6;
    width: calc(100% + 80px);
    transform: translateX(-40px);
    border-radius: 0px;
    margin-bottom: 10px;
    height: 75px;
}

.timer[data-state="settings-selected"] {
    background-color: #ff9a62;
    width: calc(100% + 80px);
    transform: translateX(-40px);
    border-radius: 0px;
    margin-bottom: 10px;
    height: 75px;
}

.timer[data-state="closed"] {
    background-color:white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    top: -85px;
    left: -115px;
    border: 1px black;
    position: relative;
    width: 75px;
    transition: 1s ease;
    transform: none;
}

.timer[data-state="open"] {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    top: -85px;
    left: -115px;
    position: relative;
    width: 200px;
    border: 1px black;
    background-color: #ff9a62;
    transition: 1s ease;
    transform: translateX(-125px);
}

/* TODO: We don't want all the buttons to look like this so lets make the selector more specific */
button {
	background:#ff9a62;
	border: none;
	color: #784a32;
	width: 100%;
	font-size: 22px;
	font-weight: bolder;
	padding: 8px 0 8px 0;
	border-radius: 3px;
	cursor: pointer;
	margin-top:25px;
}