body{
	overflow: hidden;
}

.completed {
    background-color: red;
    color:white;
    -webkit-animation-name: completed;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-timing-function: ease-in-out
}

/*Timer Config*/
#timerConfig {
    background-color: white;
    top: 100px;
    width: 500px;
    left: 100%;
    position: absolute;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 8px gray;
}

.timerConfigAnimateIn {
    transition: 1s ease;
    transform: translateX(-501px);
}
.timerConfigAnimateOut {
    transition: 1s ease;
}
/*Timer Config Button*/
#timerConfigButton {
    display: none;
    background-color:white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: -75px;
    top: 10px;
    border: 1px black;
    position: absolute;
    width: 75px;
    transition: 1s ease;
    height: 75px;
}
#timerConfig[data-state="closed"] #timerConfigButton {
    display: inline;
    background-color:white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: -75px;
    top: -72px;
    border: 1px black;
    position: absolute;
    width: 75px;
    transition: 1s ease;
    height: 75px;
}
#stopwatch_brown{
    cursor: default;
    color:#784a32;
    font-size: 18px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
/*Timer Config Header*/
#timerConfigHeader {
    color: #784a32;
}
#timers{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    top: auto;
    right: auto;
    direction: ltr;
    position: relative;
}
#timerConfig[data-state="closed"] #timerConfigBody{
    position: absolute;
    right: 100%;
}
#timerConfig[data-state="closed"] #timers{
    position:absolute;
    top: -87px;
    right: -1px;
    direction: rtl;
    overflow-y: visible;
    overflow-x: visible;
}

#timerConfig[data-state="open"] .timer[data-state="selected"] {
    background-color: #ff9a62;
    border-radius: 0px;
    margin-bottom: 10px;
    height: 75px;
}
#timerConfig[data-state="open"] .timer:last-of-type{
    margin-bottom: 0;
}

.timer {
    background-color: #e6e6e6;
    border-radius: 0px;
    margin-bottom: 10px;
    height: 75px;
    color:#784a32;
    font-size: 30px;
    position: relative;
    transition: 1s ease;
    cursor: pointer;
    text-align: right;
}
#timerConfig[data-state="closed"] .timer[data-state="selected"] {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    height: 75px;
    top: 90px;
    min-width: 325px;
    width:auto;
    text-align: left;
    direction:ltr;
    border: 1px black;
    background-color: white;
    transition: 1s ease;

}
#timerConfig[data-state="closed"] .timer {
    background-color:white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px black;
    top: 90px;
    position: relative;
    direction:ltr;
    right:0px;
    width: 125px;
    transition: 1s ease;
}
#timerConfig[data-state="closed"] .timer[data-state="un-selected"] .timerTitle{
    -webkit-user-modify: read-only;
    -moz-user-modify: read-only;
    user-modify: read-only;
    padding-top:10px;
    font-size:18px;
    margin:10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 110px;
    display: block;
    overflow: hidden;
    text-align: left;
}
#timerConfig[data-state="closed"] .timer[data-state="selected"] .timerTitle{
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write;
    padding-top:10px;
    font-size:18px;
    margin:10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    display: block;
    overflow: hidden
}
.timerTime{
    text-align: center;
    margin-right:15px;
    display: none;
}
@-webkit-keyframes completed {
     0% {
         background-color: red;
         color:white;
         opacity:1;
     }
     50% {
         background-color: white;
         color:red;
     }
     100% {
         background-color: red;
         color:white;
     }
 }

.timerCountdown{
    font-size:15px;
    text-align: center;
    margin-right:15px;
    display: block;
}
input[type='number'] {
     -moz-appearance:textfield;
 }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.timerColon{
    font-size: 18px;
}
.timerTimeMin{
    font-size: 18px;
    text-align: center;
    width:20px;
}
.timerTimeSec{
    font-size: 18px;
    width:20px;
}


#addtimerbutton {
    background-color: #e6e6e6;
    border-radius: 0px;
    height: 75px;
    margin-top: 10px;
}
#timerConfig[data-state="closed"] #addtimerbutton{
    display:none;
}
.addTimerButtonContents{
    color:#784a32;
    font-size: 30px;
    position: relative;
    top: 25%;
    left: calc(50% - 71px);
}
.cancelTimerButton{
     display:none;
     width:75px;
     font-size:15px;
    transition: 1s ease;
 }
#timerConfig[data-state="closed"] .cancelTimerButton{
    display: inline;
    position: absolute;
    width: 75px;
    font-size: 15px;
    transition: 1s ease;
    top: 5px;
    left: 225px;
    background:#ff9a62;
    color: #784a32;
}
#timerConfig[data-state="open"] .timerTitle{
    font-size:20px;
    margin-left:30px;
    margin-right:10px;
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    user-modify: read-write;
}
#timerConfig[data-state="open"] .timerTime{
    display: inline;
    margin-right:15px;
}
.addMinuteButton{
    width:60px;
    margin-right:15px;
    font-size:15px;
    display: none;
    background:#ff9a62;
    border: none;
    color: #784a32;
}
.timer[data-state="selected"] .addMinuteButton{
    background:#784a32;
    color: #ff9a62;
}
#timerConfig[data-state="open"] .timer[data-state="selected"] .cancelTimerButton{
    background:#784a32;
    color: #ff9a62;
}
#timerConfig[data-state="open"] .timer[data-state="selected"] .addMinuteButton{
     background:#784a32;
     color: #ff9a62;
 }
#timerConfig[data-state="closed"] .addMinuteButton{
    width: 60px;
    top: 5px;
    left: 155px;
    margin-right: 15px;
    font-size: 15px;
    display: inline;
    position: absolute;
    background:#ff9a62;
    color: #784a32;
}
#timerConfig[data-state="open"]  .addMinuteButton{
    width:60px;
    margin-right:15px;
    font-size:15px;
    display: inline;
    background:#ff9a62;
    border: none;
    color: #784a32;
}
#timerConfig[data-state="open"] .timerCountdown{
    display: none;
}
.timerCountdown{
    font-size:15px;
    top: 30%;
    left: 10%;
    position: absolute;
    margin: 15px;
    display: inline;
}
#timerConfig[data-state="open"]  .cancelTimerButton{
    display:inline;
    width:75px;
    font-size:15px;
    background:#ff9a62;
    border: none;
    color: #784a32;
    transition: 1s ease;
}
#timerConfig[data-state="open"] .timer[data-state="selected"] .cancelTimerButton{
    display:inline;
    width:75px;
    font-size:15px;
    background:#784a32;
    border: none;
    color: #ff9a62;
}

#closeConfigButton{
    color: white;
    margin: 18px 0px 0px 0px;
    padding: 5px 10px;
    background-color: #ff9a62;
    font-size: 16px;
    text-align: center;
    border: none;
    width: 20%;
    font-weight: normal;
    border-radius: 3px;
    cursor: pointer;
    margin-top:25px;
    margin-left:40%;
    margin-right:40%;
    margin-bottom:25px;
}
/* TODO: We don't want all the buttons to look like this so lets make the selector more specific */
button {
	border: none;
	width: 100%;
	font-size: 22px;
	font-weight: bolder;
	padding: 8px 0 8px 0;
	border-radius: 3px;
    color: #784a32;
    background-color: #ff9a62;
	cursor: pointer;
	margin-top:25px;
}


#dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
}
#dialogbox{
    border-top: #FF9A62 solid 10px;
    display: none;
    position: fixed;
    background: #FFF;
    border-radius:7px;
    box-shadow: 0 0 8px gray;
    width:550px;
    z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #FFF; text-align: center; font-size:40px; padding:10px; color:#784a32; }
#dialogbox > div > #dialogboxbody{ background: #FFF; padding:20px; color:#784a32; }
#dialogbox > div > #dialogboxfoot{ background: #FFF; padding:10px; text-align:right; }
