body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300;
	background-color: lightgray;
}

a {
	text-decoration: none;
	color: black;
}

/* CLass Modifiers*/
.student-information {
	padding: 15px 0px 0px 0px;
	margin: 0px auto;
	width: 250px;
	text-align: center;
	font-size: 22px;
}

/* Adjusts the size of the input boxes. */
input[type="text"] {
    width: 200px;
    height: 20px;
    padding: 10px;
    font-size: 20px;
}

.button {
	margin: 40px auto;
	width: 150px;
	background-color: #ff9a62;
	text-align: center;
	padding: 10px 0px 8px 0px;
}

.button:hover {
	/* background-color: */
}

/* ID Modifiers */
#modal {
	background-color: white;
	width: 350px;
	height: 350px;
	margin: 0px auto;
}

#accent-top {
	background-color:#ff9a62;
	width: 100%;
	height: 5px;
}


#title {
	text-align: center;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 25px;
	font-size: 35px;
}








